body{
    font-family: 'helvetica';
    font-size: 1.2 em;
}
#outside{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1{
 font-size:3em;
 text-align: center;
 color: royalblue;
 text-transform: capitalize;
}
form{
    margin: 0 auto;
    width:  70%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius:  1em;
}

#survery-form{
    background-color: silver;
}
fieldset{
    border:1px solid brown;
    margin: 10px ;
}
legend{
    font-weight: 700; ; 
}
number{
    width: 150px;
}
div+div{
    margin-top:1em ;
}
input,textarea{
    width: 200px;
    border:1px solid #999;

}
input:focus,textarea:focus{
    border-color: chocolate;
}
textarea{
    vertical-align: top;
    height:5em;
    resize: vertical;
}